name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: "0 0 * * *" # Runs once per day
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the GitHub Actions Workflow page directly

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pull in Cyris.io posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://cyris.io/feed.xml"
